fastapi
uvicorn
psycopg2-binary
python-dotenv
python-multipart
geoalchemy2
sqlalchemy
pandas
openpyxl
reportlab
scikit-learn
joblib
numpy
httpx
python-jose[cryptography]
azure-storage-blob>=12.0.0
openai>=1.0.0
ddtrace>=4.6.0
